/* Estilo do jogo */ 
/* Reset de margens e preenchimento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */ 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% da altura da tela */
    background-color: #ffffff; /* Fundo preto para efeito de jogo arcade */
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Evita rolagem */
}

/* Container para o jogo */
#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
    border: 4px solid white; /* Borda branca para destacar */
    background-color: black; /* Fundo do jogo */
}
